/* NATIVE STYLING */
a {
  width: auto;
}

/* MAIN OVERRIDES */
.sl-left {
  width: 40%;
  margin: 3rem;
}

.sl-right {
  width: 60%;
  margin: 3rem;
  padding-top: 3rem;
}

.sl-center {
  padding-left: 4rem;
  padding-right: 4rem;
}

.intro_box {
  min-height: 100vh;
}

.about-me {
  width: 100%;
}

.main {
  position: relative;
}

.intro_box {
  overflow: hidden;
}

#sl-divider {
  width: 100%;
  position: absolute;
}

.footer {
  width: 100%;
}

/* BOOTSTRAP OVERRIDES */
#footer, .row {
  margin: 0;
}

/* 4K HANDLERS - 3840 x 2160 */
@media (min-width: 2250px) {
  .footer-icon {
    height: 5rem;
    width: 5rem;
  }
}

/* DESKTOP HANDLERS */
@media (max-width: 1467px) {
  .main {
    height: auto;
  }

  .intro_box {
    height: 125vh;
  }
}

/* MOBILE HANDLERS */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .intro_box {
    height: 150vh;
  }
}

@media (max-width: 850px), (max-width: 1467px) {
  .sl-left {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .sl-right {
    padding: 0;
    margin: 0;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }
}

@media (max-height: 840px) {
  .main {
    height: 130vh;
  }

  .intro_box {
    height: 130vh;
  }
}

@media (max-height: 600px) {
  .main {
    height: 125vh;
  }

  .intro_box {
    height: 125vh;
  }
}

@media (max-height: 575px) {
  .main {
    height: 200vh;
  }

  .intro_box {
    height: 200vh;
  }
}

@media (max-height: 400px) {
  .main {
    height: 200vh;
  }

  .intro_box {
    height: 200vh;
  }
}

@media (max-height: 350px) {
  .main {
    height: 240vh;
  }

  .intro_box {
    height: 240vh;
  }
}
